<mat-toolbar>
  <span class="title-center">Weather Application</span>
</mat-toolbar>
<!-- <mdb-icon fas icon="cloud-showers-heavy"></mdb-icon>     -->
<!-- <button (click)="getLog()">clickMe</button>  -->

<div class="input-container">
  <form [formGroup]="options">
    <mat-form-field [floatLabel]="floatLabelControl.value">
      <mat-label>City/State/Country</mat-label>
      <input matInput placeholder="City/State" #cityVal>
    </mat-form-field>
    <button mat-icon-button (click)="getWeatherReport(cityVal.value);getDate()">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>


<!-- <div fxLayoutAlign="center start" [ngClass]="{'display-card': !Status}">
  <mat-card  style="text-align: center;" >
    <mat-card-title >
      {{ errorMsg}}
    </mat-card-title>
    </mat-card>
</div> -->


<div fxLayoutAlign="center start" [ngClass]="{'display-card': Status}" >
  <mat-card  style="text-align: center;" >
    <mat-card-title style="text-decoration: underline;">
      {{ cityName | uppercase}}
    </mat-card-title>
    <br>
    <mat-card-content>
      <mat-card-title>{{temp}} <span style='font-size:28px;'>&#8451;</span></mat-card-title>
      <br>
      <mat-card-title>{{weather | uppercase }} </mat-card-title>

    </mat-card-content>

    <mat-list dense style="text-align: center;">
      <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-list-item fxFlex ="30">Pressure: {{pressure}} hpa </mat-list-item>
      <mat-list-item fxFlex ="40"></mat-list-item>
      <mat-list-item fxFlex ="30">Speed: {{wind_speed}} mph</mat-list-item>

      
    </div>
    </mat-list>
    <br>
    <mat-list dense>
      <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-list-item fxFlex ="30">Humidity: {{humidity}} %</mat-list-item>
      <mat-list-item fxFlex ="40"></mat-list-item>
      <mat-list-item fxFlex ="30"> {{date}} </mat-list-item>
    </div>
    </mat-list>
    </mat-card>
    </div>

<mat-toolbar style="position: fixed; bottom: 0%;">
  <span class="title-center">Weather Application</span>
</mat-toolbar>
